.tab.active {
    border-radius: 6px !important;
}

.title-actions {
    opacity: 0 !important;
    transition: opacity 0.2s !important;
    pointer-events: none !important;
}

*:has(> .title-actions):hover .title-actions {
    opacity: 1 !important;
    pointer-events: auto !important;
}

.editor-group-container .title-actions {
    display: none !important;
}

.title.show-file-icons .label-container .monaco-icon-label {
    justify-content: center;
    scale: 1.1;
}

/* fix Power Mode extension's issue */
.monaco-editor .lines-content > .view-lines > .view-line > span {
    width: inherit;
}

/* replace VSCode watermark */
.editor-group-watermark .letterpress {
    display: grid;
    place-items: center;
    background-image: none !important;

    &::before {
        content: "「善」";
        font-size: 48px;
        color: #a0a0a0;
    }
}
