/* ========================= */
/* Variables                 */
/* ========================= */

:root {
    --rosewater: rgb(245, 224, 220);
    --flamingo: rgb(242, 205, 205);
    --pink: rgb(245, 194, 231);
    --mauve: rgb(203, 166, 247);
    --red: rgb(243, 139, 168);
    --maroon: rgb(235, 160, 172);
    --peach: rgb(250, 179, 135);
    --yellow: rgb(249, 226, 175);
    --green: rgb(166, 227, 161);
    --teal: rgb(148, 226, 213);
    --sky: rgb(137, 220, 235);
    --sapphire: rgb(116, 199, 236);
    --blue: rgb(137, 180, 250);
    --lavender: rgb(180, 190, 254);
    --text: rgb(205, 214, 244);
    --subtext1: rgb(186, 194, 222);
    --subtext0: rgb(166, 173, 200);
    --overlay2: rgb(147, 153, 178);
    --overlay1: rgb(127, 132, 156);
    --overlay0: rgb(108, 112, 134);
    --surface2: rgb(88, 91, 112);
    --surface1: rgb(69, 71, 90);
    --surface0: rgb(40, 41, 54);
    --base: rgb(30, 30, 46);
    --mantle: rgb(24, 24, 37);
    --crust: rgb(17, 17, 27);

    /* --widget-border-radius: 12px; */
    /* --bar-border-radius: 20px; */
    --widget-border-radius: 8px;
    --bar-border-radius: 14px;
    --no-bar: rgba(0, 0, 0, 0);
    /* --custom-bar: rgba(17, 17, 27, 0.95); */
    --custom-bar: rgba(17, 17, 27, 0.5);

    --bar-accent: rgb(245, 194, 231);
    /* --widget-background: rgba(40, 41, 54, 0.9); */
    --widget-background: transparent;
}

/* ========================= */
/* 1. Layout and Containers  */
/* ========================= */

* {
    font-size: 12px;
    color: var(--text);
    font-weight: 900;
    font-family: "JetBrainsMono NFP";
    margin: 0;
    padding: 0;
}

.yasb-bar {
    padding: 0px 8px;
    margin: 0;
    background-color: var(--custom-bar);
    border-radius: var(--bar-border-radius);
    border-style: solid;
    border-width: 0px;
}

.widget {
    padding: 0 12px;
    margin: 0;
    border-radius: var(--widget-border-radius);
    background-color: var(--widget-background);
}

.widget .label {
    padding: 2px 2px 1px 2px;
}

.widget .label.alt {
    padding: 1px 8px 1px 8px;
}

/* ========================= */
/* 2. Context Menu           */
/* ========================= */

.context-menu,
.context-menu .menu-checkbox {
    background-color: var(--base);
    border: none;
    padding: 4px 0px;
    font-size: 12px;
    color: var(--text);
}

.context-menu::right-arrow {
    width: 8px;
    height: 8px;
    padding-right: 24px;
}

.context-menu::item,
.context-menu .menu-checkbox {
    background-color: transparent;
    padding: 6px 12px;
    margin: 2px 6px;
    border-radius: 6px;
    min-width: 100px;
}

.context-menu::item:selected,
.context-menu .menu-checkbox:hover {
    background-color: var(--mantle);
    color: var(--text);
}

.context-menu::separator {
    height: 1px;
    background-color: var(--surface1);
    margin: 4px 8px;
}

.context-menu::item:disabled {
    color: var(--surface2);
    background-color: transparent;
}

.context-menu .menu-checkbox .checkbox {
    border: none;
    padding: 8px 16px;
    font-size: 12px;
    margin: 0;
    color: var(--text);
}

.context-menu .submenu::item:disabled {
    margin: 0;
    padding-left: 16px;
}

.context-menu .menu-checkbox .checkbox:unchecked {
    color: #999;
}

.context-menu .menu-checkbox .checkbox::indicator {
    width: 12px;
    height: 12px;
    margin-left: 0px;
    margin-right: 8px;
}

.context-menu .menu-checkbox .checkbox::indicator:unchecked {
    background: var(--surface2);
    border-radius: 2px;
}

.context-menu .menu-checkbox .checkbox::indicator:checked {
    background: var(--mauve);
    border-radius: 2px;
}

.context-menu .menu-checkbox .checkbox:focus {
    outline: none;
}

.context-menu::item:checked {
    background-color: var(--mauve);
    color: var(--text);
}

/* ========================= */
/* 3. Widgets                */
/* ========================= */

/* System Tray */

.systray {
    background: transparent;
    border: None;
    margin: 0;
    padding-right: 0px;
    padding-left: 0px;
}

.systray .unpinned-container {
    background: var(--widget-background);
    border-radius: var(--widget-border-radius);
    padding: 0 5px;
}

.systray .pinned-container {
    background: transparent;
    border-radius: var(--widget-border-radius);
}

.systray .pinned-container[forceshow="true"] {
    background: var(--red);
}

.systray .button {
    border-radius: 4px;
    padding: 3px 4px;
}

.systray .button:hover {
    background: var(--surface2);
    border-radius: 8px;
}

.systray .button[dragging="true"] {
    background: var(--rosewater);
    border-color: var(--flamingo);
}

.systray .unpinned-visibility-btn {
    color: var(--subtext0);
    border-radius: 4px;
    padding: 0 5px;
    margin: 0 5px;
    font-size: 15px;
}

.systray .unpinned-visibility-btn:checked {
    background: transparent;
}

.systray .unpinned-visibility-btn:hover {
    color: var(--bar-accent);
}

/* Windows Desktops */

.komorebi-active-layout {
    padding: 0 4px 0 4px;
}

.komorebi-active-layout .label {
    padding: 0;
    font-size: 18px;
}

.apps-widget .widget-container,
.komorebi-workspaces .widget-container,
.komorebi-active-layout .widget-container {
    margin: 3px 0;
    border-radius: 18px;
}

.komorebi-workspaces .widget-container {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.komorebi-workspaces {
    border-top-right-radius: 108px;
    border-bottom-right-radius: 18px;
    padding: 0 4px;
}

.komorebi-workspaces .offline-status {
    font-size: 12px;
    padding: 0 0 0 4px;
    font-weight: 600;
}

.komorebi-workspaces .ws-btn {
    border: none;
    background-color: transparent;
    margin: 0;
    font-size: 12px;
    color: var(--overlay0);
    height: 28px;
    width: 18px;
}

.komorebi-workspaces .ws-btn:hover {
    color: var(--subtext1);
}

.komorebi-workspaces .ws-btn.populated {
    color: transparent;
    width: 10px;
    height: 10px;
    background-color: var(--lavender);
    border-radius: 5px;
    margin: 0 4px;
    font-size: 1px;
}

.komorebi-workspaces .ws-btn.active {
    color: transparent;
    background-color: var(--bar-accent);
    width: 36px;
    max-width: 36px;
    height: 10px;
    margin: 0 4px;
    border-radius: 5px;
}

.komorebi-control-widget {
    padding: 0 4px;
}

.komorebi-control-widget .label {
    font-size: 14px;
    color: #cdd6f4;
    font-weight: 600;
}

.komorebi-control-menu {
    background-color: #1e1e2e;
}

.komorebi-control-menu .button.start {
    color: #a6e3a1;
    font-weight: 600;
    padding: 8px 16px;
    font-size: 32px;
    border-radius: 8px;
    background-color: #313244;
}

.komorebi-control-menu .button.stop {
    color: #f38ba8;
    font-weight: 600;
    padding: 8px 16px;
    font-size: 32px;
    border-radius: 8px;
    background-color: #313244;
}

.komorebi-control-menu .button.reload {
    color: #fab387;
    font-weight: 600;
    padding: 8px 16px;
    font-size: 32px;
    border-radius: 8px;
    background-color: #313244;
}

.komorebi-control-menu .button:hover {
    background-color: #45475a;
}

.komorebi-control-menu .footer .text {
    font-size: 12px;
    color: #45475a;
}

/* Audio Widget */

.audio-menu {
    background-color: var(--mantle);
}

.audio-container .device {
    background-color: var(--base);
    border: none;
    padding: 6px 8px 6px 4px;
    margin: 2px 0;
    font-size: 12px;
    border-radius: 4px;
}

.audio-container .device.selected {
    background-color: var(--crust);
}

.audio-container .device:hover {
    background-color: var(--base);
}

.volume-slider::groove {
    color: transparent;
}

.volume-slider::handle {
    background-color: transparent;
}

.audio-menu {
    background-color: rgb(17, 17, 27);
}

/* Power Menu Widget */

.power-menu-popup {
    background: var(--crust);
    border-radius: 8px;
}

.power-menu-widget .label {
    color: var(--red);
    font-size: 16px;
    padding: 0;
}

.power-menu-popup .button {
    padding: 0px;
    margin: 5px;
    width: 250px;
    height: 175px;
    border-radius: 8px;
    background-color: var(--base);
    color: white;
}

.power-menu-popup .button.hover {
    background-color: var(--surface1);
}

.power-menu-popup .button .label {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text);
}

.power-menu-popup .button .icon {
    font-size: 55px;
    padding-top: 25px;
    padding-right: 10px;
    color: var(--text);
}

.power-menu-popup .button.cancel .icon {
    color: var(--red);
}

.power-menu-popup .button.cancel .label {
    color: var(--red);
}

/* ========================= */
/* 6. Icons & Typography     */
/* ========================= */

.icon {
    font-size: 16px;
}

.volume-widget .icon {
    color: var(--bar-accent);
    margin: 1px 2px 0 0;
}

.start-menu .icon {
    font-size: 18px;
    color: #89b4fa;
}

.clock-widget .icon {
    color: var(--bar-accent);
    font-size: 14px;
    margin-right: 7px;
}

/* Media Widget */

.media-widget {
    padding: 0 10px;
    margin-left: 0;
}

.media-widget .label {
    color: var(--lavender);
    padding-left: 5px;
}

/* Hide media widget buttons */

.media-widget .btn {
    max-width: 0;
}

.calendar {
    background-color: var(--base);
}

.calendar .calendar-table,
.calendar .calendar-table::item {
    background-color: rgba(17, 17, 27, 0);
    color: var(--overlay1);
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.calendar .calendar-table::item:selected {
    color: var(--surface0);
    background: var(--bar-accent);
    border-radius: 8px;
}

.calendar .day-label {
    margin-top: 20px;
}

.calendar .day-label,
.calendar .month-label,
.calendar .date-label {
    font-size: 16px;
    color: var(--text);
    font-weight: 700;
    min-width: 180px;
    max-width: 180px;
}

.calendar .month-label {
    font-weight: normal;
    padding-bottom: 12px;
}

.calendar .date-label {
    font-size: 88px;
    font-weight: 900;
    color: var(--text);
    margin-top: -20px;
}

.home-menu {
    background-color: var(--base);
    border-radius: 8px;
    padding: 0;
    margin-left: 0px;
}

.home-menu .menu-item {
    padding: 8px 48px 8px 12px;
    font-size: 13px;
    font-weight: 600;
}

.home-menu .menu-item:hover {
    background-color: var(--bar-accent);
    color: var(--mantle);
    margin: 4px 6px;
    border-radius: 4px;
}

.home-menu .separator {
    max-height: 1px;
    background-color: var(--surface2);
    margin: 0 8px;
}

.wallpapers-gallery-window {
    background-color: var(--mantle);
    border: 2px;
    margin: 0;
}

.volume-slider {
    border: none;
}

.audio-menu {
    background-color: rgba(17, 17, 27, 0.4);
}

.audio-container .device {
    background-color: transparent;
    border: none;
    padding: 6px 8px 6px 4px;
    margin: 2px 0;
    font-size: 12px;
    border-radius: 4px;
}

.audio-container .device.selected {
    background-color: rgba(255, 255, 255, 0.085);
}

.audio-container .device:hover {
    background-color: rgba(255, 255, 255, 0.06);
}

.wallpapers-gallery-buttons {
    background-color: var(--base);
    color: var(--text);
    border: none;
    font-size: 16px;
    padding: 8px 0px;
    border-radius: 8px;
    margin: 8px 8px 8px 8px;
    width: 600px;
}

.wallpapers-widget {
    padding: 0 6px 0 6px;
}

.wallpapers-widget .icon {
    color: #cba6f7;
}

/* Disk */

.disk-group {
    background-color: var(--mantle);
}

.disk-group-row {
    min-width: 220px;
    max-width: 220px;
    max-height: 40px;
    margin: 0;
    padding: 0;
    border-radius: 6px;
    border: 1px solid var(--surface0);
}

.disk-group-row:hover {
    background-color: var(--surface0);
    border: 1px solid var(--surface1);
}

.disk-group-label-bar {
    max-height: 8px;
    border: 0px solid var(--surface0);
    background-color: var(--base);
    border-radius: 4px;
}

.disk-group-label-bar::chunk {
    background-color: var(--blue);
    border-radius: 4px;
}

.disk-group-label {
    font-size: 10px;
}

.disk-group-label-size {
    font-size: 10px;
    color: var(--bar-accent);
}

.disk-widget .icon {
    color: var(--bar-accent);
}

.cava-widget {
    padding: 0;
    margin: 0;
}

/* CPU MEMORY Setting */

.cpu-widget {
    padding-left: 17px;
    padding-right: 10px;
}

.memory-widget {
    padding-left: 10px;
    padding-right: 17px;
}

.cpu-widget .widget-container {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.memory-widget .widget-container {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.memory-widget .label {
    min-width: 34px;
    max-width: 34px;
}

.cpu-widget .label {
    min-width: 34px;
    max-width: 34px;
}

.cpu-widget .icon {
    color: var(--bar-accent);
    margin-right: 4px;
}

.memory-widget .icon {
    color: var(--bar-accent);
    margin-right: 6px;
}

/* WIFI Setting */

.wifi-widget .icon {
    color: var(--mauve) !important;
}

.update-check-widget {
    padding: 0 0px 0 0px;
}

.update-check-widget .icon {
    font-size: 16px;
}

.update-check-widget .widget-container.winget,
.update-check-widget .widget-container.windows {
    background: var(--mauve);
    margin: 0px 0px 0px 0px;
    border-radius: 10px;
    border: 0px solid var(--sapphire);
}

.update-check-widget .widget-container.winget .icon,
.update-check-widget .widget-container.windows .icon {
    color: var(--base);
    margin: 0 2px 0 6px;
}

.update-check-widget .widget-container.winget .label,
.update-check-widget .widget-container.windows .label {
    margin: 0 6px 0 1px;
    color: var(--base);
    font-weight: 900;
    font-size: 14px;
}

.traffic-widget .icon {
    color: rgb(203, 166, 247);
    padding-right: 6px;
    padding-left: 6px;
}

.traffic-widget .label {
    color: rgb(203, 166, 247);
}

.widget {
    border-radius: var(--widget-border-radius);
    margin: 6px 4px;
}

.notes-widget {
    padding: 4;
}

.notes-widget .label {
    font-size: 14px;
    color: rgb(203, 166, 247);
}

.notes-widget .icon {
    font-size: 16px;
    color: rgb(203, 166, 247);
}

/* Notes Widget Menu */

.notes-menu {
    min-width: 400px;
    max-width: 400px;
    background-color: #1e1e2e;
}

.notes-menu .note-item {
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.notes-menu .note-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.notes-menu .note-item .icon {
    font-size: 16px;
    padding: 0 4px;
    color: rgb(203, 166, 247);
}

.notes-menu .delete-button {
    color: #ff6b6b;
    background: transparent;
    border: none;
    font-size: 8px;
    padding: 7px 8px;
    border-radius: 3px;
}

.notes-menu .delete-button:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

.notes-menu .note-item .title {
    font-size: 13px;
    font-family: "Segoe UI";
}

.notes-menu .note-item .date {
    font-size: 12px;
    font-family: "Segoe UI";
    color: rgba(255, 255, 255, 0.4);
}

.notes-menu .empty-list {
    font-family: "Segoe UI";
    color: rgb(203, 166, 247);
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0 20px 0;
}

.notes-menu .add-button,
.notes-menu .cancel-button {
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 4px;
    color: white;
    font-family: "Segoe UI";
}

.notes-menu .cancel-button {
    margin-left: 4px;
}

.notes-menu .add-button:hover,
.notes-menu .cancel-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.notes-menu .scroll-area {
    background: transparent;
    border: none;
    border-radius: 0;
}

.notes-menu .note-input {
    background-color: rgba(17, 17, 27, 0.2);
    border: 1px solid rgb(203, 166, 247);
    font-family: "Segoe UI";
    font-size: 14px;
    max-height: 30px;
    padding: 4px;
    border-radius: 6px;
}

.note-input:focus {
    border: 1px solid rgb(203, 166, 247);
}

.media-menu {
    min-width: 420px;
    max-width: 420px;
    background-color: var(--mantle);
    border-radius: 8px;
}

.media-menu .title,
.media-menu .artist,
.media-menu .source {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    font-family: "JetBrainsMono NF";
}

.media-menu .artist {
    font-size: 13px;
    color: var(--bar-accent);
    margin-top: 0px;
    margin-bottom: 8px;
}

.media-menu .source {
    font-size: 12px;
    color: var(--crust);
    font-weight: bold;
    border-radius: 3px;
    background-color: var(--overlay2);
    padding: 2px 4px;
}

/*
The source class name is the same as what you see in the media widget;
just replace spaces with dashes and convert it to lowercase.
Example: "Windows Media" becomes "windows-media"
*/

.media-menu .source.brave {
    background-color: var(--red);
    color: var(--mantle);
}

.media-menu .source.spotify {
    background-color: var(--green);
    color: var(--mantle);
}

.media-menu .btn {
    font-family: "Segoe Fluent Icons";
    font-size: 18px;
    font-weight: 400;
    margin: 10px 2px 0px 2px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 20px;
    color: var(--overlay1);
}

.media-menu .btn.prev {
    margin-left: 5px;
}

.media-menu .btn:hover {
    color: var(--bar-accent);
}

.media-menu .btn.play {
    font-size: 24px;
}

.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
    color: var(--surface2);
    background-color: transparent;
}

.media-menu .playback-time {
    font-size: 13px;
    font-family: "JetBrainsMono NF";
    color: var(--bar-accent);
    margin-top: 20px;
    min-width: 100px;
}

.media-menu .progress-slider {
    height: 10px;
    margin: 5px 4px;
    border-radius: 3px;
}

.media-menu .progress-slider::groove {
    background: transparent;
    height: 2px;
    border-radius: 3px;
    background: transparent;
}

.media-menu .progress-slider::groove:hover {
    background: transparent;
    height: 6px;
    border-radius: 3px;
    background: transparent;
}

.media-menu .progress-slider::sub-page {
    background: var(--bar-accent);
    border-radius: 3px;
    height: 4px;
}
